button {
	text-align: center;
}

.edit-mode {
	background-color: #f0f5f5; 
	border: 2px dotted #992600;
}

.btn-edit-mode {
	background-color: lightgreen;
}

.center {
	display: grid;
	justify-content: center;
	padding: 50px;
	/*border: 1px solid red;*/
}

.center > * {
	display: flex;
	flex-wrap: nowrap;
	align-self: center;
	width: 500px;
	padding: 5px 0px;
	margin: 5px;

}
.center > textarea {
	height: 100px;
}
.center > button {
	display: inline-block;
}