body * { font-family: fantasy; }

h1 {
	text-align: center;
	font-size: 2.5em;
	text-shadow: 2px 2px lightgray;
}

button, input { font-family: 'Comic Sans MS'; }

button {
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	background-color: #ddd;
	float: right;
	margin: 15px;
}

.edit-mode {
	background-color: #f0f5f5; 
	border: 2px dotted #992600;
}
.btn-edit-mode { background-color: #00fc7c; }
.btn-edit:hover { background-color: lightgreen; }
.btn-delete:hover { background-color: #ff343c; }

.add-game {
	display: grid;
	justify-content: center;
	padding: 50px;
}
.add-game > * {
	display: flex;
	flex-wrap: nowrap;
	align-self: center;
	width: 500px;
	padding: 5px 0px;
	margin: 5px;

}
.add-game > textarea { 
	height: 100px; 
	font-family: 'Comic Sans MS';
}
.add-game > button { display: inline-block; }
#btn-add-game:hover { background-color: #f59b13; }

img {
	width: 350px;
	padding-right: 25px;
}